# This is working example
# GitHub's CODEOWNERS docs can be found in
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence, these
# users will be requested for review when someone opens
# a pull request.
*       @misterbisson

# The `docs/*` pattern will match files like
# `docs/getting-started.md` but not further nested files like
# `docs/build-app/troubleshooting.md`.
.blubracket/*  @misterbisson @paymanblu

# The `content/**` pattern will files like
# `content/getting-started.md` and further nested files like
# `content/how-to/intro/what-is-blubracket/index.md`.
content/**  @misterbisson @robbyandrews @norefice-github
