{{ $currentPage := . }}
{{ with .Site.GetPage "/" }}
<ul class="list-unstyled collapsible-sidebar">
    {{ range .Pages }}
      {{ $active := (eq $currentPage.Permalink .Permalink) }}
        <li class="mb-1">
          <h3 class="h6 text-uppercase"><a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a></h3>
          {{ template "dokschildren" dict "Page" . "currentPage" $currentPage }}
        </li>
    {{ end }}
</ul>
{{ end }}

{{ define "dokschildren" }}
  {{ range $.Page.Pages }}
    {{ $active := (eq $.currentPage.Permalink .Permalink) }}
    <ul class="small">
      <li class="{{ if $active }}active{{ end }}">
        <a class="docs-link rounded{{ if $active }} active{{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
        {{ template "dokschildren" dict "Page" . "currentPage" $.currentPage }}
      </li>
    </ul>
  {{ end }}
{{ end }}
