{{ with .Page.Pages }}
<h4>In this section</h4>
<ul class="small">
    {{ range . }}
        <li>
          <a class="docs-link rounded" href="{{ .Permalink }}">{{ .Title }}</a>
          {{ template "dokschildrenmain" dict "Page" . }}
        </li>
    {{ end }}
</ul>
{{ end }}

{{ define "dokschildrenmain" }}
  {{ range $.Page.Pages }}
    <ul class="small">
      <li>
        <a class="docs-link rounded" href="{{ .Permalink }}">{{ .Title }}</a>
        {{ template "dokschildren" dict "Page" . }}
      </li>
    </ul>
  {{ end }}
{{ end }}
