{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <form class="doks-search position-relative flex-grow-1 me-auto" action="/" method="GET">
        <input id="search" name="s" class="form-control is-search" type="search" placeholder="Search docs..." aria-label="Search docs..." autocomplete="off">
        <div id="suggestions" class="shadow bg-white rounded d-none"></div>
      </form>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Get started</h2>
          <p><a href="{{ relref . "/intro/what-is-blubracket" }}">What BluBracket is</a>, <a href="{{ relref . "/intro/key-workflows" }}">how it works</a>, <br />and <a href="{{ relref . "/intro/getting-started" }}">how to try it out</a>.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Get details</h2>
          <p><a href="{{ relref . "/how-to/code-servers/add-code-servers" }}">Add code servers</a>, <a href="{{ relref . "/how-to/add-user" }}">invite users</a>, <br /><a href="{{ relref . "/how-to/cli" }}">setup the CLI</a>, <a href="{{ relref . "/api" }}">dig in to the API</a>, and <a href="{{ relref . "/how-to" }}">more</a>.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Get help</h2>
          <p><a href="#search">Search the docs</a>, <a href="{{ relref . "/faq" }}">check the FAQs</a>, <br />or <a href="{{ relref . "/contact-support" }}">contact our customer success team</a>.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">What's in your code</h2>
          <p><a href="{{ relref . "/intro/use-cases#secrets" }}">Find secrets</a>, <a href="{{ relref . "/intro/use-cases#pii" }}">PII</a>, and <a href="{{ relref . "/intro/use-cases#inclusive-language" }}">non-inclusive language (NIL)</a> before commit, before merge, and before they propagate to others.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Who has access to your code️</h2>
          <p><a href="{{ relref . "/intro/use-cases#access-auditing" }}">Monitor who and what systems have access to your code</a> and enable easy collaboration across the organization while protecting against unmanaged access-creep.</p>

        </div>
        <div class="col-lg-5">
          <h2 class="h4">Where your code goes</h2>
          <p>Code is a fluid asset, always moving where it needs and finding its own level across the org. <a href="{{ relref . "/intro/use-cases#code-leaks" }}">BluBracket Enterprise tracks where it goes when it leaks outside the org</a>.</p>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
